.prices-services-container {
    background-color: #222; /* Темний фон */
    color: #fff; /* Колір тексту */
    padding: 50px;
    display: flex;
    justify-content: space-around;
  }
  
  .section {
    margin-bottom: 40px;
    width: 480px;
  }
  
  .section h2 {
    font-size: 38px; /* Розмір заголовку секції */
    padding-bottom: 12px;
  }
  
  .section p {
    font-size: 16px; /* Розмір тексту секції */
  }

  .mainextra {
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    width: 480px;
    justify-content: center;
  }
  
  .mainextra::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform: scaleX(0); /* Початково приховано */
    transform-origin: bottom right; /* Точка, де починається анімація */
    transition: transform 0.3s ease; /* Анімація для scaleX */
  }
  
  .mainextra:hover::after {
    transform: scaleX(1); /* Розгорнути для підкреслення */
  }

  .hourssvg{
    padding-left: 18px;
  }

  .textprice {
    border: 2px solid white; /* Товщина та колір рамки */
    padding: 10px; /* Простір внутрішньо від рамки до вмісту */
    border-radius: 5px;
    margin-top: 40px;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .pricelist{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 28px 10px;
  }

  .pricelist p{
    font-size: 18px;
  }

  .pricelist:hover{
    color: orange;
  }

  .extralist{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 28px 10px;
  }

  .extralist2{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 28px 10px;
    flex-direction: column;
  }

  .zabuvku{
    display: flex;
    justify-content: space-between;
  }

  .extralist p{
    font-size: 18px;
  }

  .extralist:hover{
    color: orange;
  }  

  .extralist2 p{
    font-size: 18px;
  }

  .extralist2:hover{
    color: orange;
  }

  @media (max-width: 992px){
    .prices-services-container {
      flex-direction: column;
      display: flex;
      align-items: center;
    }
    
    .section {
      margin-bottom: 40px;
      width: 280px;
    }
    
    .section h2 {
      font-size: 22px;
      padding-bottom: 0px;
    }
    
    .section p {
      font-size: 12px; /* Розмір тексту секції */
    }
  
    .mainextra {
      align-items: center;
      width: 280px;
    }

    .hourssvg{
      padding-left: 18px;
    }

    .pricelist p{
      font-size: 16px;
    }
  
    .pricelist:hover{
      color: orange;
    }
  
    .extralist{
      display: flex;
      justify-content: space-between;
      margin: 10px 10px 28px 10px;
    }
  
    .extralist2{
      display: flex;
      justify-content: space-between;
      margin: 10px 10px 28px 10px;
      flex-direction: column;
    }
  
    .zabuvku{
      display: flex;
      justify-content: space-between;
    }
  
    .extralist p{
      font-size: 16px;
    }
  
    .extralist:hover{
      color: orange;
    }  
  
    .extralist2 p{
      font-size: 16px;
    }
  
    .extralist2:hover{
      color: orange;
    }
}