.footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #2a1662;
  color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.footer-content {
  display: flex;
  justify-content: center;
}
